
<html>
    <head>
        <title>
            Blog App
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <h1>Welcomr to the techky Blogs</h1>
        <div class="ui fixed inverted menu">
            <div class="ui container another ">
                
                <div class="header item"><i class="coffee icon"></i>Nikhil-Blogs</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Blog</a>
            </div>
        </div>
        
        
        
   