.another{
    background-color: #E74292;
}


h1{
    color: #2F363F;
    font-family: sans-serif;
}
.icon{
    font-size: 4em;
}
.header{
    color: green;
}
h2{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

footer{
    font-size: bolder;
}